.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0.3rem;
    margin: 10px 10px;
    float: left;
    position: relative;
    border-radius: 100px;
}

.card {
    width: calc((100% - 10px * 5) / 5);
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.image__container {
    width: 65px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid darkslategray;
    overflow: hidden;
    border-radius: 100%;
}

.image__container:hover{
    border: 5px solid yellow;
    transform: rotate(45deg);
}

.image__container img {
    width: 130%;
    object-fit: cover;
}