*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.flags {

}

.block {
    padding: 50px;
    max-width: 1170px;
    margin: 0px auto;
}

.block_item {
    margin: 30px;
}

.flag_1 {
    width: 300px;
    height: 200px;
    background: linear-gradient(blue 50%, yellow 50%);
    border: solid 1px black;
}

.flag_2 {
    position: relative;
    width: 300px;
    height: 200px;
    border: solid 1px black;
}

.flag_2::after {
    position: absolute;
    top: 40px;
    left: 90px;

    display: block;
    content: "";
    height: 120px;
    width: 120px;

    background-color: #ED2939;
    border-radius: 50%;
}

.flag_3 {
    width: 300px;
    height: 200px;
    background: linear-gradient(135deg, antiquewhite, silver);
    border: solid 1px black;
}

.flag_3 {
    background: linear-gradient(to right, transparent 35%, red 35%, red 45%, transparent 45%),
    linear-gradient(to bottom, transparent 45%, red 45%, red 60%, transparent 60%),
    linear-gradient(to right, transparent 45%, white 45%, white 50%, transparent 50%),
    linear-gradient(to right, transparent 30%, white 30%, white 35%, transparent 35%),
    linear-gradient(to bottom, transparent 60%, white 60%, white 65%, transparent 65%),
    linear-gradient(to bottom, transparent 40%, white 40%, white 45%, transparent 45%),
    blue;
}

.flag_4 {
    width: 300px;
    height: 200px;
    background: linear-gradient(white 50%, red 50%);
    border: solid 1px black;
}

.flag_4::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 150px solid #0000ff;
    border-bottom: 100px solid transparent;
}
